<div class="container2">
  <h1>This is your coach. Ask me a question!</h1>

  <p>Go ahead, ask me a question:</p>
  <form action="/answer" class="form-control form-control-lg form-inline">
    <input type="text" name="question" id=input>
    <input type="submit" value="Ask!" id="button">
  </form>
</div>
